*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    // 10px
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.wrapper {
    margin: 0 auto;
    max-width: 1176px;
}


